@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
:root {
  --neu-vdb-mb: hsl(233, 47%, 7%);
  --neu-ddb-cb: hsl(244, 38%, 16%);
  --neu-sv: hsl(277, 64%, 61%);
  --neu-w: hsl(0, 0%, 100%);
  --neu-w-m: hsla(0, 0%, 100%, 0.75);
  --neu-w-s: hsla(0, 0%, 100%, 0.6);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  position: relative;
  background: var(--neu-vdb-mb);
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
@media (min-width: 950px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
main .card {
  margin: 2em;
  min-width: 320px;
  max-width: 450px;
  height: max-content;
  background: var(--neu-ddb-cb);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 950px) {
  main .card {
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 1080px;
    margin: 0;
  }
}
main .card .card__img {
  position: relative;
  display: flex;
}
@media (min-width: 950px) {
  main .card .card__img {
    flex: 0.5;
  }
}
main .card .card__img #a1 {
  width: 100%;
}
@media (min-width: 950px) {
  main .card .card__img #a1 {
    width: 0;
  }
}
main .card .card__img #a2 {
  width: 0%;
}
@media (min-width: 950px) {
  main .card .card__img #a2 {
    width: 100%;
    height: auto;
  }
}
main .card .card__img div {
  position: absolute;
  background: hsla(277deg, 64%, 61%, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main .card .card__details {
  margin: 2em;
  text-align: center;
}
@media (min-width: 950px) {
  main .card .card__details {
    text-align: left;
    flex: 0.5;
    max-width: 40%;
    word-wrap: break-word;
    margin: 0;
    margin-left: 1em;
  }
}
main .card .card__details > h1 {
  color: var(--neu-w);
  font-size: 1.5rem;
  margin: 0.8em;
}
@media (min-width: 950px) {
  main .card .card__details > h1 {
    font-size: 2rem;
  }
}
main .card .card__details > h1 > span {
  color: var(--neu-sv);
}
main .card .card__details p {
  color: var(--neu-w-m);
  line-height: 1.5rem;
  margin-bottom: 20px;
  font-size: 0.875rem;
  padding-inline: 1em;
}
@media (min-width: 950px) {
  main .card .card__details p {
    margin: 0.8em;
  }
}
@media (min-width: 950px) {
  main .card .card__details .number {
    display: flex;
    justify-content: space-between;
    margin: 0.8em;
  }
}
main .card .card__details .number > div {
  padding: 1em;
}
main .card .card__details .number > div h1 {
  color: var(--neu-w);
  font-size: 1.5rem;
}
main .card .card__details .number > div span {
  color: var(--neu-w-s);
  text-transform: uppercase;
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.8rem;
}

footer {
  position: absolute;
  top: 95%;
  text-align: center;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  z-index: -100;
  color: var(--neu-w);
}
footer a {
  text-decoration: none;
  color: var(--neu-sv);
}